<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>My name is <span><%= name %></span></h2>
    <ul>
      <li><%= profession %></li>
      <li>I like music: <span><%= description %></span></li>
    </ul>
  </body>
</html>
