<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% if (Array.isArray(result)) 
      { %> <% result.forEach(el => { %>
      <li><a href="<%= el %>"><%= el %></a></li>
      <% }); %>
       <% }else { %>
      <li><%= result %></li>
      <% } %>
    </ul>
  </body>
</html>
